.contact {
  background-color: #f7f9f8;
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 60px 32px;
}

.contact__heading {
  font-size: 28px;
  margin-bottom: 14px;
  color: #2a5934;
}

.contact__subheading {
  font-size: 20px;
  margin-bottom: 40px;
  color: #555;
}

.contact__details {
  display: grid;
  gap: 32px;
  justify-content: center;
}

.contact__item h3 {
}

.contact__item p {
  font-size: 16px;
  color: #333;
  margin: 0;
  line-height: 1;
}

.contact__item address {
  font-size: 16px;
  color: #333;
  margin: 0;
  line-height: 1;
}

.contact__item address {
  font-style: normal;
}
