.contact {
  background-color: #f7f9f8;
  font-family: "Inter", sans-serif;
  text-align: center;
  padding: 60px 32px;
}

.contact__heading {
  margin-bottom: 14px;
  font-size: 32px;
  font-weight: 700;
  color: #2a5934;
}

.contact__subheading {
  font-size: 20px;
  margin-bottom: 40px;
  color: #556063;
}

.contact__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  margin-top: 20px;
  /* background-color: #d6e4e3; */
}

.contact__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  border-radius: 50%;
  font-size: 22px;
  color: #7bb661;
}

.contact__card {
  background-color: #ffffff;
  padding: 50px;
  text-align: left;
  border-radius: 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.contact-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.contact__card h3 {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  font-size: 20px;
  color: #2a5934;
}

.contact__card p {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
  line-height: 1;
}

.contact__card address {
  font-size: 16px;
  font-style: normal;
  color: #333;
  margin: 0;
  line-height: 1;
}
