.mapSection {
  text-align: center;
  padding: 40px 20px;
  margin-bottom: 24px;
  font-size: 16px;
  color: #333;
}

/* .mapSection__container {
  max-width: 900px;
  margin: 0 auto;
} */

.mapSection__container img {
  width: 48px;
  margin-bottom: 16px;
}

.mapSection__container p {
  margin-bottom: 24px;
  color: #555;
}

.map {
  border: 0;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 400px;
}
