.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f1f8f3;
  color: #2e473d;
  padding: 0 32px;
}

.home__content {
  max-width: 800px;
}

.home__content h1 {
  font-size: 48px;
  font-weight: 700;
  color: #2e473d;
  margin-bottom: 16px;
}

.home__content h2 {
  font-size: 32px;
  font-weight: 500;
  color: #4caf50; /* bright green accent */
  margin-top: 0;
}

.home__image {
  
}
