.home {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f1f8f3;
  color: #2e473d;
  padding: 0 32px;
}

.home__content {
  max-width: 800px;
}

.home__content h1 {
  font-size: 48px;
  font-weight: 700;
  color: #2e473d;
  margin-bottom: 16px;
}

.home__content h3 {
  margin-top: 0;
  font-size: 28px;
  font-weight: 500;
  color: #4b5563;
}

.home__content p {
  margin-top: 18px;
}

.home__image-container {
}

.home__image {
  /* width: 500px; */
  width: min(90%, 500px);
  aspect-ratio: 1;
  --g: /20.56% 20.56% radial-gradient(#000 calc(71% - 1px), #0000 71%) no-repeat;
  mask: 100% 50% var(--g), 93.301% 75% var(--g), 75% 93.301% var(--g),
    50% 100% var(--g), 25% 93.301% var(--g), 6.699% 75% var(--g),
    0% 50% var(--g), 6.699% 25% var(--g), 25% 6.699% var(--g), 50% 0% var(--g),
    75% 6.699% var(--g), 93.301% 25% var(--g),
    radial-gradient(100% 100%, #000 38.366%, #0000 calc(38.366% + 1px));
  object-fit: cover;
  margin: 40px 0;
}

@media (max-width: 900px) {
  .home {
    flex-direction: column;
    text-align: center;
    gap: 32px;
    padding: 60px 0;
  }
  .home__content h1{
    font-size: 46px;
  }
}
