.about {
  width: 1100px;
  padding: 60px 20px;
  margin: 0 auto;
}

.about__intro {
  margin-bottom: 60px;
}

.about__intro h2 {
  margin-bottom: 8px;
  font-size: 36px;
}

.about__intro h3 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #4b5563;
}

.about__intro p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.about__story {
  margin-bottom: 60px;
}

.about__story h3 {
  margin-bottom: 10px;
}

.about__story p {
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

.about__founder {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 40px;
}

.about__founder-role {
  margin-bottom: 6px;
  font-size: 14px;
  color: #4b5563;
}

.founder__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7bb661;
  width: 100px;
  height: 100px;
  font-size: 64px;
  border-radius: 50%;
}

.about__founder-info h4 {
  margin-bottom: 6px;
  font-size: 14px;
}

.about__founder-info blockquote {
  font-style: italic;
  color: #2e473d;
  border-left: 3px solid #2e473d;
  padding-left: 12px;
}
