.about {
    width: 100%;
    
}

.about__intro {
}

.about__intro h2 {
}

.about__intro h3 {
}

.about__intro p {
}

.about__story {
}

.about__story h3 {
}

.about__story p {
}

.about__founder {
}

.about__founder-info {
}

.about__founder-info blockquote {
}
